* {margin: 0px;}
body {font: 12px/140% "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;} 
img {border:0px;}
h1 {font-size: 24px;}
h2 {font-size: 18px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
a:link, a:active, a:visited {text-decoration: underline; color:#000000;}
a:hover {text-decoration:none; color:#000000;}
.clear {clear:both;}

.fieldWithErrors {
  padding: 2px;
  display: inline;
  color: red;
}

.formError {
  display: inline;
  color: #999999;
  font-size: smaller;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* layout */
#top {
  padding: 20px;
  border-bottom: 2px solid #EBEBEB;
}

#menu {
  padding: 10px;
  border-bottom: 2px solid #EBEBEB;
}

#content {
  padding: 20px;
}

.product {
  width: 150px;
  height: 170px;
  padding: 10px;
  background: #EBEBEB;
  float: left;
  border: 1px dashed #CCCCCC;
  margin-right: 10px;
}
.product img {
  border: 1px double #000000;
}
.product:hover {
  background: #FFFFFF;
}
.group {
  height: 190px;
}
